/*
https://coolors.co/app/595f72-575d90-84a07c-c3d350-e6f14a

color1: #595f72
color2: #575d90
color3: #84a07c
color4: #c3d350
color5: #e6f14a
textOverColor2: white
textOverColor4: white
invalidBorderColor: #e9322d
invalidTextColor: #b94a48
*/

h1,
h2,
h3,
h4,
h5,
h6,
a {
    color: #595f72;
}

#menu .pure-menu-heading {
    background-color: #e6f14a;
    color: #595f72;
}

#menu .pure-menu-selected {
    background-color: #333333;
}

#menu .non-link-item {
    padding: 0.6em 0 0.6em 0.6em;
}

#menu #sessionTimeRemaining {
    font-size: small;
}

#menu .fa {
    width: 1em;
}

.pure-button-primary, .pure-button-selected, a.pure-button-primary, a.pure-button-selected {
    background-color: #e6f14a;
    color: #595f72;
}

.pure-form.pure-form-aligned input[type=text], .pure-form.pure-form-aligned input[type=password], .pure-form.pure-form-aligned textarea {
    width: 13.5em;
}

.login-form * {
    box-sizing: border-box;
}

.login-form {
    padding: 1em;
    margin: auto;
    display: table;
}

.login-form.pure-form-aligned .pure-control-group label {
    width: 6em;
}

.login-form.pure-form-aligned .pure-controls {
    margin-left: 7em;
}

@media only screen and (max-width : 480px) {
    .login-form.pure-form-aligned .pure-controls {
        margin: 0;
    }
}

.spinneroverlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    background-color: white;
    opacity: 0.85;
}

/* https://www.w3schools.com/howto/howto_css_loader.asp */
.spinneroverlay .spinner {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #595f72;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -60px;
    margin-top: -60px;
}

/* Safari */
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.spinnericon {
    border: 1px solid #f3f3f3;
    border-radius: 50%;
    border-top: 1px solid #595f72;
    width: 1em;
    height: 1em;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
    display: inline-block;
}

table.secretslist {
    table-layout: fixed;
    width: 100%;
}

table.secretslist td, table.secretslist th {
    overflow: hidden;
    white-space:nowrap;
    text-overflow: ellipsis;
}

table.secretslist th.password { width: 3em; }
table.secretslist th.modified { width: 5.5em; }

@media only screen and (max-width: 480px) {
    .content { padding: 1.2em; }
    table.secretslist th, table.secretslist td { padding: 0.2em 0.4em; }
    .pure-form button { margin: 0.7em 0 0; }
}

.pure-form-aligned .custom-control-group {
    white-space: nowrap;
}

.pure-form-aligned .custom-control-group .custom-control {
    vertical-align: top;
    display: inline-block;
}

.pure-form-aligned .custom-control-group label {
    vertical-align: top;
}

.pure-form-aligned .custom-control-group .custom-control label {
    text-align: left;
    padding-left: 0.5em;
}

@media only screen and (max-width: 480px) {
    .pure-form-aligned .pure-control-group .custom-control label {
        padding-left: 0;
    }
}

.pure-form-aligned .pure-control-group textarea#notes {
    width: 21em;
    height: 12em;
}

@media only screen and (max-width: 480px) {
    .pure-form-aligned .pure-control-group label:after {
        content: ":";
    }

    .pure-form-aligned .pure-control-group .custom-control label:after {
        content: initial;
    }
}
