/*
https://coolors.co/app/595f72-575d90-84a07c-c3d350-e6f14a

color1: #595f72
color2: #575d90
color3: #84a07c
color4: #c3d350
color5: #e6f14a
textOverColor2: white
textOverColor4: white
invalidBorderColor: #e9322d
invalidTextColor: #b94a48
*/

h1,
h2,
h3,
h4,
h5,
h6,
a {
    color: #595f72;
}

#menu .pure-menu-heading {
    background-color: #e6f14a;
    color: #595f72;
}

#menu .pure-menu-selected {
    background-color: #333333;
}

.pure-button-primary, .pure-button-selected, a.pure-button-primary, a.pure-button-selected {
    background-color: #e6f14a;
    color: #595f72;
}

.pure-form.pure-form-aligned input[type=text], .pure-form.pure-form-aligned input[type=password], .pure-form.pure-form-aligned textarea {
    width: 13.5em;
}

.login-form * {
    box-sizing: border-box;
}

.login-form {
    padding: 1em;
    margin: auto;
    display: table;
}

.login-form.pure-form-aligned .pure-control-group label {
    width: 6em;
}

.login-form.pure-form-aligned .pure-controls {
    margin-left: 7em;
}

@media only screen and (max-width : 480px) {
    .login-form.pure-form-aligned .pure-controls {
        margin: 0;
    }
}

.copyicon {
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" class="svg-icon" viewBox="0 0 20 20"><path style="fill: #000000;" d="M17.391,2.406H7.266c-0.232,0-0.422,0.19-0.422,0.422v3.797H3.047c-0.232,0-0.422,0.19-0.422,0.422v10.125c0,0.232,0.19,0.422,0.422,0.422h10.125c0.231,0,0.422-0.189,0.422-0.422v-3.797h3.797c0.232,0,0.422-0.19,0.422-0.422V2.828C17.812,2.596,17.623,2.406,17.391,2.406 M12.749,16.75h-9.28V7.469h3.375v5.484c0,0.231,0.19,0.422,0.422,0.422h5.483V16.75zM16.969,12.531H7.688V3.25h9.281V12.531z"></path></svg>');
    background-repeat: no-repeat;
    display: inline-block;
    width: 1em;
    height: 1em;
}

table.secretslist {
    table-layout: fixed;
    width: 100%;
}

table.secretslist td, table.secretslist th {
    overflow: hidden;
    white-space:nowrap;
    text-overflow: ellipsis;
}
